# api-gateway ignore
api-gateway/HELP.md
api-gateway/target/
api-gateway/!.mvn/wrapper/maven-wrapper.jar
api-gateway/!**/src/main/**/target/
api-gateway/!**/src/test/**/target/

### STS ###
api-gateway/.apt_generated
api-gateway/.classpath
api-gateway/.factorypath
api-gateway/.project
api-gateway/.settings
api-gateway/.springBeans
api-gateway/.sts4-cache

### IntelliJ IDEA ###
api-gateway/.idea
api-gateway/*.iws
api-gateway/*.iml
api-gateway/*.ipr

### NetBeans ###
api-gateway/nbproject/private/
api-gateway/nbbuild/
api-gateway/dist/
api-gateway/nbdist/
api-gateway/.nb-gradle/
api-gateway/build/
api-gateway/!**/src/main/**/build/
api-gateway/!**/src/test/**/build/

### VS Code ###
api-gateway/.vscode/


# config-server ignore
config-server/HELP.md
config-server/target/
config-server/!.mvn/wrapper/maven-wrapper.jar
config-server/!**/src/main/**/target/
config-server/!**/src/test/**/target/

### STS ###
config-server/.apt_generated
config-server/.classpath
config-server/.factorypath
config-server/.project
config-server/.settings
config-server/.springBeans
config-server/.sts4-cache

### IntelliJ IDEA ###
config-server/.idea
config-server/*.iws
config-server/*.iml
config-server/*.ipr

### NetBeans ###
config-server/nbproject/private/
config-server/nbbuild/
config-server/dist/
config-server/nbdist/
config-server/.nb-gradle/
config-server/build/
config-server/!**/src/main/**/build/
config-server/!**/src/test/**/build/

### VS Code ###
config-server/.vscode/


# service-discovery ignore
service-discovery/HELP.md
service-discovery/target/
service-discovery/!.mvn/wrapper/maven-wrapper.jar
service-discovery/!**/src/main/**/target/
service-discovery/!**/src/test/**/target/

### STS ###
service-discovery/.apt_generated
service-discovery/.classpath
service-discovery/.factorypath
service-discovery/.project
service-discovery/.settings
service-discovery/.springBeans
service-discovery/.sts4-cache

### IntelliJ IDEA ###
service-discovery/.idea
service-discovery/*.iws
service-discovery/*.iml
service-discovery/*.ipr

### NetBeans ###
service-discovery/nbproject/private/
service-discovery/nbbuild/
service-discovery/dist/
service-discovery/nbdist/
service-discovery/.nb-gradle/
service-discovery/build/
service-discovery/!**/src/main/**/build/
service-discovery/!**/src/test/**/build/

### VS Code ###
service-discovery/.vscode/